:root{
    --main-color: #2196f3
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.game{
    background-color: #eee;
    min-height: 100vh;
}

.container {
    margin: auto;
    background-color: #eee;
    max-width: 900px;
}

.name {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.message {
    background-color: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    text-align: center;
}

.message span {
    font-weight: bold;
    color: var(--main-color);
}
.message span::before{
    content: "[ ";
}

.message span::after{
    content: " ]";
}

.start {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.the-word {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: var(--main-color);
    user-select: none;

}

.input {
    margin: 15px 0;
    width: 100%;
    display: block;
    padding: 15px;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    caret-color: var(--main-color);
}

.input:focus{
    outline: none;
}

.upcoming-words{
    background-color: white;
    margin: 15px 0;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.upcoming-words div {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    margin: 4px;
    padding: 10px;
    border-radius: 6px;
}

.control {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
}

.control span {
    font-weight: bold;
    color: var(--main-color);
}

.finish {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 15px;
}

.finish .good {
    color: var(--main-color);
    transition:all 0.4s cubic-bezier(1, 0.01, 1, 0.74) 0s;

}

.finish .bad {
    transition:all 0.4s cubic-bezier(1, 0.01, 1, 0.74) 0s;
    color: red;
}

